@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
  background-color: var(--lynxWhite);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

*,
*:focus,
*:hover {
  outline: none;
}

.select *:focus,
.select *:hover {
  outline: none !important; /* Remove outline */
}

.react-tel-input .form-control {
  border: none !important;
}
.react-tel-input .flag-dropdown {
  border: none !important;
  border-right: 1px solid #eee6f8 !important;
  border-radius: 7px 0 0 7px;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}
